@model Statii

@{
    ViewData["Title"] = "Delete";
}

<div  class="container p-3 my-3 border" > <h4>Doriti sa continuati? </h4>
    <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Nume)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(m => m.Nume)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Oras)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(m => m.Oras)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Adresa)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(m => m.Adresa)
            </dd>
        </dl>

            <form  asp-controller="Statii" asp-action="Delete">
                <input type="hidden" asp-for="IdStatie" />
                <input class="btn btn-primary" type="submit" value="Da" />
                <a class="btn btn-danger" asp-action="GetStatii">Nu</a>
            </form>

 </div>