@model Statii

   
        <h4>Detalii Statie</h4> 
        <table class="table table-striped" id = "myTable">
        <thead>
        <tr>
            <th>Nume</th>
            <th>Oras</th>
            <th>Adresa</th>
        </tr>
       </thead>

       <tbody>
        <td> @Model.Nume</td>
        <td>@Model.Oras</td>
        <td>@Model.Adresa</h2>
  </tbody>
</table>

         <table class="table table-striped" id = "myTable">
    <thead>
        <tr>
            <th>Numar priza</th>
            <th>Tip Priza</th>
            <th>Rezervare</th>
        </tr>
    </thead>
    <tbody>
   @foreach (var priza in Model.Prizas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => priza.IdPriza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => priza.IdTipNavigation.Nume)
            </td>
            <td>
              <a   type="button" class="btn btn-success" asp-controller = "Booking" asp-action="NewBooking" asp-route-idPriza="@priza.IdPriza">Rezervare</a>
            </td>
         </tr>
        
}
    </tbody>
</table>

<a  type="button" class="btn btn-outline-dark" asp-controller = "Prize" asp-action="AddPriza" asp-route-idStatie="@Model.IdStatie">Adauga priza</a>

 