@model IEnumerable<Statii>


@{
    ViewData["Title"] = "Statii";
}

<h3>Afisare statii</h3>
<br />
<p>
   <input type="text" class="form-control"  aria-describedby="inputGroup-sizing-sm" id="myInput" onkeyup="myFunction()" placeholder="Introduceti orasul dorit">
</p>
<table class="table table-striped" id = "myTable">
    <thead>
        <tr>
                <th>
                    <a asp-action="Filter" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Nume)</a>
                </th>
                <th>
                    <a asp-action="Filter" asp-route-sortOrder="@ViewData["OrasSortParm"]">@Html.DisplayNameFor(model => model.Oras)</a>
                </th>
                <th>
                    <a asp-action="Filter" asp-route-sortOrder="@ViewData["AdresaSortParm"]">@Html.DisplayNameFor(model => model.Adresa)</a>
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
               <a type="button" class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.IdStatie">Edit</a> 
                <a type="button" class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.IdStatie">Details</a> 
                <a  type="button" class="btn btn-outline-dark" asp-action="DeleteConfirmation" asp-route-id="@item.IdStatie">Delete</a>
               <a  type="button" class="btn btn-outline-dark" href="@String.Format("https://www.google.com/maps/search/?api=1&query={0} {1}", @item.Adresa,@item.Oras)">Maps </a>  
            </td>
        </tr>
}
    </tbody>
</table>
<br />
<p>
    <a type="button" class="btn btn-dark" asp-action="Create">Adauga o statie</a>
</p>
<p>
     <a  type="button" class="btn btn-outline-dark" asp-controller="Chart" asp-action="Index">View Chart</a>
</p>