@model IEnumerable<Statii>


<p>
     @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdStatie">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdStatie">Details</a> |
                <a asp-action="DeleteConfirmation" asp-route-id="@item.IdStatie">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>